.faq-item {
  border: 0.5px solid rgba(160, 123, 80, 0.41);
}

.faq-item__header {
  display: flex;
  justify-content: space-between;
}

.faq-item__title {
  padding: 44px 0 44px 43px;

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #DDD0C3;

  @media (max-width: $tablet-width) {
    padding: 22px 30px 15px 29px;
  }

  @media (max-width: $mobile-width) {
    padding: 10px 0 9px 15px;
    font-size: 14px;
    line-height: 20px;
    max-width: 220px;
  }
}

.faq-item__text-wrapper {
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease-out;
}

.faq-item__text {
  padding: 32px 210px 47px 43px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  color: #DDD0C3;
  p {
    margin: 0;
  }

  p+p {
    margin-top: 15px;
  }

  @media (max-width: $tablet-width) {
    padding: 22px 142px 23px 30px;

    p+p {
      margin-top: 23px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 9px 27px 8px 14px;
    font-size: 14px;
    line-height: 19.7px;

    p+p {
      margin-top: 9px;
    }
  }
}


.faq-item__header {
  border-bottom: 0.5px solid rgba(160, 123, 80, 0.41);
}

.faq-item__button {
  @include list-zero;
  width: 104px;
  height: 111px;
  background-color: #A07B50;
  font-size: 30px;
  color: #FFFFFF;
  transition: background-color 0.3s ease-out;

  @media (max-width: $tablet-width) {
    width: 73px;
    height: 77px;
  }

  @media (max-width: $mobile-width) {
    width: 43px;
    height: auto;
  }
}

.faq-item__button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


