.page {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #A07B50;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #181617;
}

.page__body {
  margin: 0;
}

.page__footer {
  background-color: #151313;
}
